/* ==========================================================================
   CSS for LIPPS PRODUCT
   ========================================================================== */

body {
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 2px;
  color: #4f4f4f;
}

.headerborder-line {
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 12px;
}

.footerborder-line {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  border-bottom: 1px solid #c4c4c4;
}

@media (max-width: 1050px) {
  .footerborder-line {
    margin: 19px 21px 0px;
    border-bottom: 1px solid #c4c4c4;
  }
}

.footer-link {
  color: #848484;
  text-decoration: none;
}

.footer-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  margin-bottom: 42px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 0.5px solid rgba(0, 0, 0, .1);
}

.footer-group {
  -webkit-box-flex: 0;
  -webkit-flex: 0 24%;
  -ms-flex: 0 24%;
  flex: 0 24%;
}

.footer-group.last {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.footer {
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer-alignment {
  padding-top: 48px;
  padding-bottom: 48px;
}

.list-item {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 7px 8px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
}

.list-item a:hover {
  color: #b5b5b5;
}

.list-item.list-item-wide {
  -webkit-box-flex: 0;
  -webkit-flex: 0 50%;
  -ms-flex: 0 50%;
  flex: 0 50%;
}

.nav-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: uppercase;
}

.nav-menu a:hover {
  color:#0082f3;
}

.navbar {
  background-color: transparent;
}

.logo-image {
  width: 179.5px;
}

.brand {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 48px;
  margin-bottom: 33px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.in-header-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.in-header-link {
  display: inline-block;
  padding: 4px 20px;
  border: 0.5px solid #4f4f4f;
  color: #4f4f4f;
  font-size: 11px;
  text-align: center;
  text-decoration: none;
}

.in-header-link.primary {
  margin-right: 14px;
  background-color: #4f4f4f;
  color: #fff;
}

.brand-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.brand-aside {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-aside {
  display: none;
}

.mask {
  max-height: none;
}

.slider {
  position: absolute;
  height: 100%;
}

.hero {
  position: relative;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.hero-spacer {
  padding-top: 50%;
}

.hero-image-small {
  display: none;
}

.main-content {
  margin-top: 68px;
  padding-top: 35px;
}

.main-content-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-right: 12px;
  padding-left: 12px;
  color: #969696;
  line-height: 46px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 2.6rem;
}

.products {
  padding-right: 85px;
  padding-left: 85px;
  background-color: #f4f2f0;
}

.product-item {
  padding: 32px;
  background-color: hsla(0, 0%, 100%, .72);
  text-align: center;
}

.product-item-heading {
  margin-top: 6px;
  margin-bottom: 6px;
  text-align: center;
  text-transform: uppercase;
}

.product-item-heading.small {
  font-size: 12px;
}

.product-item-heading-group {
  padding-top: 9px;
  padding-bottom: 9px;
}

.product-image {
  position: relative;
  overflow: hidden;
}

.product-image-spacer {
  padding-top: 67%;
}

.product-image-content {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
}

.products-list {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.lipps-boy {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #f5f5f5;
}

.lipps-product-title-container {
  padding-top: 32px;
  background-color: #f5f5f5;
}

.lipps-product-container {
  padding-bottom: 32px;
  background-color: #f5f5f5;
}

.lipps-boy-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.lipps-boy-item {
  margin-top: 32px;
  margin-bottom: 32px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 33%;
  -ms-flex: 0 33%;
  flex: 0 33%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.lipps-boy-slider {
  position: absolute;
  background-color: transparent;
}

.no-slide {
  right: 0px;
  left: 0px;
}

.lipps-boy-arrow {
  display: none;
}

.lipps-boy-slider-spacer {
  padding-top: 100%;
}

.lipps-boy-images {
  position: relative;
}

.lipps-boy-slide-content {
  display: block;
  width: auto;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 21px 37px;
  object-fit: contain;
}

.lipps-boy-specs {
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 4px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 4px auto 4px auto 4px auto;
  grid-template-rows: auto auto auto auto;
}

.lipps-boy-specs-paragraph {
  margin-bottom: 2px;
}

.lipps-boy-specs-paragraph.category {
  font-size: 12px;
}

.lipps-boy-specs-paragraph.price {
  margin-top: 26px;
  margin-bottom: 26px;
}

.lipps-boy-specs-paragraph.tax {
  font-size: 11px;
}

.lipps-boy-specs-paragraph.description {
  margin: auto;
  border-radius: 5%;
  width: 75%;
  background-color: #8a8585;
  color: #fff;
  display:block;
}

.lipps-boy-specs-color-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.lipps-boy-specs-color {
  display: inline-block;
  margin-right: 9px;
  margin-bottom: 0px;
  margin-left: 9px;
  padding-left: 0px;
  list-style-type: none;
}

.lipps-boy-specs-color-palette {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  margin-left: 4px;
  border-radius: 99px;
  background-color: #dedede;
}

.lipps-boy-specs-color-palette.color-fc-light {
  margin-right: auto;
  margin-left: auto;
  background-color: #daac8e;
}

.lipps-boy-specs-color-palette.color-fc-natural {
  background-color: #e8cf91;
}

.lipps-boy-specs-color-palette.color-lb-clear {
  background-color: hsla(23.6842105263158, 18.77%, 90.15%, 1.00);
}

.lipps-boy-specs-color-palette.color-lb-pink {
  background-color: #efb9b9;
}

.lipps-boy-specs-color-palette.color-001 {
  background-color: hsla(42.758620689655174, 65.41%, 73.92%, 1.00);
}

.lipps-boy-specs-color-palette.color-002 {
  background-color: hsla(23.6842105263158, 50.67%, 70.59%, 1.00);
}

.lipps-boy-specs-color-palette.color-eb-gray {
  margin-right: auto;
  margin-left: auto;
  background-color: hsla(18.94736842105261, 7.63%, 48.82%, 1.00);
}

.lipps-boy-slider-nav {
  font-size: 0.5rem;
}

.aside {
  margin-top: 128px;
  padding-top: 82px;
  padding-bottom: 24px;
  background-color: #fcfbf4;
}

.product-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.product-menu-nav {
  -webkit-box-flex: 0;
  -webkit-flex: 0 33%;
  -ms-flex: 0 33%;
  flex: 0 33%;
}

.product-menu-heading {
  margin-bottom: 18px;
  color: #969696;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.product-menu-items {
  padding-left: 0px;
  list-style-type: none;
}

.product-menu-items a:hover {
  color:#c2bdab;
}

.product-menu-item {
  margin-top: 15px;
  margin-bottom: 15px;
}

.product-menu-item-link {
  color: #9f916d;
  text-decoration: none;
}

.product-menu-contents {
  padding-left: 26px;
  border-left: 0.5px solid hsla(43.199999999999996, 20.66%, 52.55%, 0.90);
}

.product-menu-contents.no-border {
  border-left-style: none;
}

.inquiry {
  margin-top: 46px;
  background-color: #fff;
}

.rich-text-block {
  padding: 32px;
}

.product-menu-accordion {
  display: none;
}

.image-2 {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.text-block {
  margin-left: 20px;
}

.nav-icon {
  width: 20px;
  height: 20px;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-icon.blog {
  background-image: url('../images/blog.png');
  background-size: 17px;
}

.nav-icon.youtube {
  background-image: url('../images/yt_icon_mono_light.png');
  background-size: 22px;
}

.nav-icon.facebook {
  background-image: url('../images/facebook.png');
  background-size: 9px;
}

.nav-icon.twitter {
  background-image: url('../images/twitter.png');
  background-size: 21px;
}

.nav-icon.instagram {
  background-image: url('../images/instagram.png');
  background-size: 19px;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.list.aside-link-list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.image-4 {
  width: 120px;
  margin-bottom: 18px;
}

.to-top-link {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  color: hsla(43.199999999999996, 20.66%, 52.55%, 1.00);
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.footer-brand-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu-item {
  padding-right: 15px;
  padding-left: 15px;
}

.for-mobile {
  display: none;
}

.eyecatch-link-block {
  color: #fff;
}

.eyecatch-link {
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: hsla(230.00000000000003, 4.35%, 72.94%, 1.00);
  text-align: center;
}

.eyecatch-link.red {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(356.6101694915254, 70.52%, 49.22%, 1.00)), to(hsla(356.6101694915254, 70.52%, 49.22%, 1.00)));
  background-image: linear-gradient(180deg, hsla(356.6101694915254, 70.52%, 49.22%, 1.00), hsla(356.6101694915254, 70.52%, 49.22%, 1.00));
}

.eyecatch-button {
  display: inline-block;
  padding: 27px 30px;
  border: 0.5px solid #fff;
  font-weight: 700;
}

.eyecatch-image {
  position: relative;
}

.new-available {
  color: #969696;
  margin-bottom: 0px;
  font-size: 2.6rem;
  line-height: 120%;
  text-align: center;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.button {
  padding-right: 26px;
  padding-left: 26px;
  border: 0.5px solid #9f916d;
  background-color: transparent;
  color: #9f916d;
}

.button:hover {
  background-color: #9f916d;
  color: #fff;
}

.button.lipps-boy-link-button {
  padding: 8px 42px;
  margin-top: auto;
  -ms-flex-item-align: center;
  align-self: center;
}

.button.eyecatch-button {
  border-color: #fff;
  color: #fff;
}

.button.eyecatch-button:hover {
  background-color: transparent;
}

.button.eyecatch-button.boy {
  border-style: none;
  background-color: rgba(51, 51, 51, .88);
}

.button.eyecatch-button.wax {
  border-style: none;
  background-color: hsla(0, 0%, 100%, .94);
  color: #d61c2b;
}

.button.in-header-link {
  border-color: #4f4f4f;
  color: #4f4f4f;
}

.button.in-header-link:hover {
  background-color: gray;
  color: #fff;
}

.button.in-header-link.primary {
  color: #fff;
}

.button.in-header-link.primary:hover {
  background-color: #3b3b3b;
}

.list-item-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #848484;
  text-decoration: none;
}

.to-top-link-arrow {
  width: 23px;
  margin-bottom: 4px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@media (max-width: 991px) {
  .lipps-boy-slider {
    height: 100%;
  }
  .nav-menu-item {
    padding-right: 9px;
    padding-left: 9px;
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .nav-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-menu {
    overflow: auto;
    max-height: 100vh;
    padding-bottom: 59px;
    background-color: #fff;
  }
  .nav-menu a:hover {
    color:#959595;
  }
  .brand {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -76px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .nav-line {
    width: 100%;
    height: 2px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #000;
  }
  .menu-button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .nav-lines {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .nav-close-wrapper {
    overflow: hidden;
  }

  .in-header-list {
    padding-right: 21px;
    padding-left: 21px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .in-header-link {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .in-header-link.primary {
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .brand-logo {
    margin-left: 0px;
  }
  .brand-aside {
    display: none;
  }
  .nav-aside {
    display: block;
  }
  .hero-spacer {
    padding-top: 100%;
  }
  .hero-image-large {
    display: none;
  }
  .hero-image-small {
    display: block;
  }
  .products {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 32px 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .products-list {
    width: 320px;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .lipps-boy-item {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .lipps-boy-images {
    /*
    margin-right: auto;
    margin-left: auto;*/
  }
  .aside {
    padding-top: 42px;
    padding-bottom: 52px;
  }
  .product-menu {
    display: none;
  }
  .product-menu-item {
    margin-top: 22px;
    margin-bottom: 22px;
  }
  .rich-text-block {
    padding: 20px;
  }
  .right-arrow {
    display: none;
  }
  .left-arrow {
    display: none;
  }
  .product-menu-accordion {
    display: block;
    padding: 20px 22px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border-top: 0.5px solid hsla(43.199999999999996, 20.83%, 52.94%, 0.90);
  }
  .dropdown-list {
    position: relative;
  }
  .dropdown-list.w--open {
    margin-top: 42px;
    margin-bottom: 42px;
    background-color: transparent;
  }
  .dropdown-toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #9f916d;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .dropdown {
    display: block;
  }
  .image-2 {
    width: 20px;
    -webkit-transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
  }
  .footer {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .list-item {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 20px;
    padding-left: 20px;
    letter-spacing: 1px;
  }
  .list {
    width: auto;
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .list.aside-link-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-container {
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footerborder-line {
    margin: 0px;
    border-bottom: 0px solid #c4c4c4;
  }
  .footer-group {
    margin: 19px 21px 0px;
    padding-bottom: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    border-bottom: 0.5px solid hsla(0, 2%, 46%, .83);
  }
  .footer-group.last {
    border-bottom-style: none;
  }
  .footer-brand-wrapper {
    margin-right: 20px;
    margin-left: 20px;
  }
  .nav-menu-items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 23px;
    margin-right: 32px;
    margin-bottom: 50px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  .nav-menu-item {
    padding: 14px 18px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%;
    border-bottom: 0.5px solid #cfcfcf;
    font-size: 1rem;
  }
  .nav-menu-item.last {
    border-bottom-style: none;
  }
  .link-2 {
    text-decoration: none;
  }
  .link-2.w--current {
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 35px;
    color: #4f4f4f;
  }
  .link-icon {
    width: 30px;
    height: 30px;
    background-image: url('../images/example-bg.png');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .link-icon.youtube {
    background-image: url('../images/yt_icon_mono_light.png');
    background-size: 22px;
  }
  .link-icon.blog {
    background-image: url('../images/blog.png');
    background-size: 17px;
  }
  .link-icon.facebook {
    background-image: url('../images/facebook.png');
    background-size: 9px;
  }
  .link-icon.twitter {
    background-image: url('../images/twitter.png');
    background-size: 21px;
  }
  .link-icon.instagram {
    background-image: url('../images/instagram.png');
    background-size: 19px;
  }

  .list-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-sns {
    margin: 38px 85px;
    padding-right: 21px;
    padding-left: 21px;
  }
  .for-mobile {
    display: block;
  }
  .eyecatch-button {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .brand-2 {
    margin-top: 22px;
    margin-bottom: 22px;
  }
}

@media (max-width: 479px) {
  .image {
    width: 115px;
  }
  .main-content {
    margin-top: 32px;
  }
  .products {
    padding-right: 32px;
    padding-left: 32px;
  }
  .products-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .lipps-boy-item {
    padding-right: 14px;
    padding-left: 14px;
  }
  .lipps-boy-slide-content {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .lipps-boy-specs-paragraph {
    margin-bottom: 0px;
    font-size: 0.7rem;
    line-height: 140%;
  }
  .lipps-boy-specs-paragraph.category {
    font-size: 0.6rem;
  }
  .lipps-boy-specs-paragraph.tax {
    font-size: 6px;
  }
  .lipps-boy-specs-color {
    margin-right: 0px;
    margin-left: 5px;
  }
  .lipps-boy-specs-color-palette.color-lb-pink {
    background-color: #fc866e;
  }
  .lipps-boy-specs-color-palette.color-001 {
    background-color: #daac8e;
  }
  .lipps-boy-specs-color-palette.color-002 {
    background-color: #e8cf91;
  }
  .icon {
    width: auto;
  }
  .nav-sns {
    margin-right: 48px;
    margin-left: 48px;
  }
}

#w-node-e3756d9cf1dd-5ecb8422 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 767px) {
  #w-node-e3756d9cf1dd-5ecb8422 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-e3756d9cf1dd-5ecb8422 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-58679ac5ed63-5ecb8422 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 767px) {
  #w-node-58679ac5ed63-5ecb8422 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

#w-node-6524ae1e4903-5ecb8422 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 767px) {
  #w-node-6524ae1e4903-5ecb8422 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-6524ae1e4903-5ecb8422 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

.lipps-news {
  margin-top: 58px;
  margin-bottom: 58px;
}

.lipps-news-title {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-right: 12px;
  padding-left: 12px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.lipps-news-content {
  margin-top: 58px;
  margin-bottom: 58px;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.lipps-news-content p{
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
}

.lipps-news-return-link-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  display: flex;
}


.lipps-news-return-link {
  color: #8c8c8c;
  text-decoration: none;
  padding: 0 40px;

}

.lipps-news-return-link:hover{
  opacity: .6;
}


.lipps-news-return-link.left {
  margin-right: auto;
  text-align: left;
}

.lipps-news-return-link.right {
  margin-left: auto;
  text-align: right;
  padding: 0 0 25px;
}

.lipps-news-container {
  background-color: #f5f5f5;
}

.lipps-recent-news-container {
  margin: 25px auto;
  background-color: #f5f5f5;
}

.lipps-news-articles, .lipps-recent-news-articles {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.lipps-news-article-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.lipps-news-article-list.recent-post{
  padding: 35px 0;
}

.lipps-news-article, .lipps-recent-news-article{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 9px;
  margin-left: 9px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 23%;
  -ms-flex: 0 23%;
  flex: 0 23%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  position: relative;
}

.lipps-news-image-container {
  height: 250px;
  text-align: center;
}

.lipps-news-image {
  display: block;
  width: auto;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 13px 27px 14px;
  object-fit: contain;
}

.lipps-news-headline {
  text-align: left;
}

.lipps-news-article a, .lipps-recent-news-article a{
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lipps-news-article:hover, .lipps-recent-news-article:hover{
  opacity: .6;
}

.lipps-news-headline.title {
  font-size: 11px;
  letter-spacing: 0px;
  padding: 10px 15px 15px;
}

.lipps-news-date-container {
  text-align: left;
  margin-top:auto;
}

.lipps-news-date {
  margin-top:auto;
  color: #8c8c8c;
  font-size: 11px;
  padding: 0px 16px 10px;
}

.lipps-pagination {
  margin-top: 32px;
  margin-bottom: 32px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 100%;
  -ms-flex: 0 100%;
  flex: 0 100%;
  text-align: center;
}

.lipps-pagination-link {
  color: #8c8c8c;
  text-decoration: none;
}

@media (max-width: 767px) {
  .lipps-news-title {
    padding-right: 25px;
    padding-left: 25px;
  }

  .lipps-news-content p{
    max-width: 470px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 920px) {
  .lipps-recent-news-articles {
    max-width: 560px;
  }

  .lipps-news-return-link.right {
    padding: 0 40px 25px;
  }

  .lipps-recent-news-article {
    -webkit-flex: 0 46%;
    -ms-flex: 0 46%;
    flex: 0 46%;
  }

  .lipps-news-articles {
    max-width: 560px;
  }
  .lipps-news-article {
    -webkit-flex: 0 46%;
    -ms-flex: 0 46%;
    flex: 0 46%;
  }
}

@media (max-width: 600px) {
  .lipps-news-articles, .lipps-recent-news-articles{
    max-width: 280px;
  }
  .lipps-news-article, .lipps-recent-news-article {
    -webkit-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%;
  }

  .lipps-news-return-link {
    padding: 0px 20px;
  }
  .lipps-news-return-link.right {
    padding: 0 20px 25px;
  }
}