/*
Theme Name: LIPPS Product
Author: Neulab Inc.
Author URI: https://neulab.co.jp/
Description: 株式会社リップスの製品ウェブページのためのテーマです。
Version: 1.1.8
License: UNLICENSED
Text Domain: lipps-product
*/

body {
    font-family: 'Work Sans', sans-serif !important;
}

.nav-menu-item {
    letter-spacing: 0.3px;
}

.main-content-heading {
    letter-spacing: 5px;
}

.new-available {
    letter-spacing: 5px;
}

.eyecatch-link-block {
    position: relative;
}

.eyecatch-link {
    background: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 56px;
}

.eyecatch-button {
    padding-top: 16px;
    padding-bottom: 16px;
    border: none  ;
    color: #fff;
    background-color: rgba(51, 51, 51, 0.88);
}

.eyecatch-link.red {
    background-image: none;
    background-color: transparent;
}

.eyecatch-link.red .eyecatch-button {
    background: rgba(255, 255, 255, 0.94);
    border: 1px solid #D61C2B;
    color: #D61C2B;
}

.button.lipps-boy-link-button {
    padding: 8px 20px;
}

.button.lipps-boy-link-button {
    padding-right: 42px;
    padding-left: 42px;
}

.product-menu-contents {
    border-left: 0.5px solid hsla(43.199999999999996, 20.66%, 52.55%, 0.9);
}

.image-4 {
    width: 120px;
}

.footer-container {
    flex-wrap: wrap;
}

.footer .link-block {
    font-size: 13px;
    font-weight: normal;
}

.footer .link-block img {
    width: 23px;
    margin-bottom: 4px;
}

.footer .link-block {
    font-size: 13px;
    font-weight: normal;
}

.footer .link-block img {
    width: 23px;
    margin-bottom: 4px;
}

.footer-group {
    flex: 0 0 25%;
    box-sizing: border-box;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
}

.footer-group.last {
    flex: 0 0 50%;
    box-sizing: border-box;
}

.footer-group.last li {
    flex: 0 0 50%;
}

.footer-group.last .w-list-unstyled {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.w-slider-dot {
    background: rgba(0, 0, 0, 0.2) !important;
}

.w-slider-dot.w-active {
  background: rgba(0, 0, 0, 0.6) !important;
}

.list-item-link {
    color: #848484;
}

.footer-link {
    color: rgba(121, 116, 116, 0.83);
}

@media (max-width: 767px) {
    .brand {
        margin-top: 23px;
        margin-bottom: 22px;
    }
    .nav-lines {
        padding: 5px 0;
    }
    .eyecatch-link {
        position: relative !important;
        padding-bottom: 20px;
        background-color: hsla(230.00000000000003, 4.35%, 72.94%, 1.00);
    }
    .eyecatch-link.red {
        background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(356.6101694915254, 70.52%, 49.22%, 1.00)), to(hsla(356.6101694915254, 70.52%, 49.22%, 1.00)));
        background-image: linear-gradient(180deg, hsla(356.6101694915254, 70.52%, 49.22%, 1.00), hsla(356.6101694915254, 70.52%, 49.22%, 1.00));
    }
    .aside {
        padding-top: 42px;
        padding-bottom: 52px;
    }
    .product-menu-accordion {
        border-top: 0.5px solid hsla(43, 21%, 53%, 0.9);
    }
    .rich-text-block {
        padding: 20px;
    }
    .image-2 {
        width: 20px;
    }
    .footer {
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .footer-container {
        margin-top: 0;
    }
    .footer-brand-wrapper {
        margin-left: 20px;
        margin-right: 20px;
    }
    .footer-group {
        margin: 20px 0 0;
        padding-bottom: 0;
        border-bottom: 0.25px solid rgba(121, 116, 116, 0.83);
    }
    .footer-group.last .w-list-unstyled {
        flex-direction: column;
    }
    .list {
        margin-bottom: 20px;
    }
    .list-item {
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
        letter-spacing: 1px;
    }
}

@media (max-width: 479px) {
    .image {
        width: 115px;
    }
}